h1{

  margin-top: 6%;
}
h4{
margin-top: 2%;
}
.img1{
  height: 55px;
  padding-right: 25p;
 
  border-radius: 250px;
  margin-right: 15px;
}
.image{
  padding-left: 12%;
 
}
button:focus {
  background-color: rgb(255, 196, 0);
}

#area{
  opacity: 0.45;
  margin-left: 5%;
}

.btn{
  align-content: center;
}

.lead{
  text-align: center;
}
.navbar-dark .navbar-brand {
    color: #fff;
    font-weight: bold;

}
.jumbotron{
  margin: 0px;
  padding-top: 3%;
  padding-bottom: 3%;
}
#poly, #path, #cal_area, #nominal, #getarea, #nom_val,#clear{
  margin-left: 3%;
}
#content{
  text-align: center;
}
#map {

    margin-top: 2%;
    margin-left: 17.5%;
    width: 65%;
    height: 65%;
    margin-bottom: 2%;
    border-radius: 10px;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input {

    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 25px;
    padding: 0 11px 0 13px;
    height: 25px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  #target {
    width: 345px;
  }